[submodule "Geographics"]
	path = Geographics
	url = https://github.com/NpoSaut/netGeographicsLib.git
[submodule "GMapElements"]
	path = GMapElements
	url = https://github.com/NpoSaut/netGMapElements.git
[submodule "MapViewControl"]
	path = MapViewControl
	url = https://github.com/NpoSaut/netMapViewControlLib.git
