[submodule "Geographics"]
	path = Geographics
	url = https://github.com/NpoSaut/netGeographicsLib.git
[submodule "GMapElements"]
	path = GMapElements
	url = https://github.com/NpoSaut/netGMapElements.git
[submodule "MapViewControl"]
	path = MapViewControl
	url = https://github.com/NpoSaut/netMapViewControlLib.git
[submodule "Can"]
	path = Can
	url = https://git.saut.ru:443/netCanLib.git
[submodule "InstallerTools"]
	path = InstallerTools
	url = https://git.saut.ru:443/netInstallerTools.git
